<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/favicon.svg" />
    {{ with resources.Get "css/main.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" />
    {{ end }} {{ with resources.Get "js/main.js" | minify | fingerprint }}
    <script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
    {{ end }} {{ if .Param "math" }} {{ partialCached "math.html" . }} {{ end }}
    <title>{{ .Title }} :: {{ .Site.Title }}</title>
    {{ partial "opengraph.html" . }}
  </head>
  <body>
    <header style="border-bottom: 2px solid var(--accent); padding: 1rem; width: 100vw">
      <div
        style="
          max-width: var(--max-width);
          margin: 0 auto;
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-between;
        "
      >
        <div style="display: flex; gap: 4rem">
          <div style="display: flex; align-items: center; gap: 0.5rem">
            <img
              src="/images/ponitelen-yellow.svg"
              alt="Ponitelen Logo"
              style="height: 32px; width: auto"
            />
            <span style="font-size: 28px; line-height: 1">ZASOQUE</span>
          </div>
          <div style="display: flex; align-items: center; gap: 2.5rem; font-size: 16px">
            <div>Cavùll</div>
            <div>Disica</div>
            <div>Corsin</div>
            <div>Spica</div>
            <div>Meguias</div>
          </div>
        </div>
        <div>
          <!-- Righter Here -->
        </div>
      </div>
    </header>
    {{ block "main" . }}{{ end }}
  </body>
</html>
