{{ define "main" }}
<div style="max-width: var(--max-width); margin: 0 auto; padding: 1rem; box-sizing: border-box">
  <div>
    <h1 style="text-wrap: pretty">{{ .Title }}</h1>
    <div style="min-width: 150px; text-align: right">
      {{ $page := .Page }} {{ if .Page.Params.Categories | len }}
      <span>
        {{ range $i, $category := .Page.Params.Categories }}
        <span>
          <a href="/categories/{{ $category | urlize }}">{{ $category }}</a>{{ if not (eq (add $i 1)
          (len $page.Params.Categories)) }}<span>,</span>{{ end }}
        </span>
        {{ end }}
        <span>—</span>
      </span>
      {{ end }}
      <time>{{ (time.In "Asia/Seoul" .Date).Format "2006년 1월 2일 15:04" }}</time>
    </div>
  </div>
  <div>{{ partial "content.html" . }}</div>
  <div
    style="margin-top: 20px; display: flex; gap: 20px; justify-content: flex-end; font-size: 10px"
  >
    <a
      href="https://github.com/junhg0211/junhg0211.github.io/blob/main/content/{{ .File.Path }}"
      target="_blank"
    >
      수정
    </a>
  </div>
  <div style="display: flex; justify-content: space-between; margin-top: 20px">
    {{ $pages := site.RegularPages.ByDate }} {{ $current := . }} {{ range $i, $page := $pages }} {{
    if eq $page $current }} {{ if gt $i 0 }} {{ $prev := index $pages (sub $i 1) }}
    <a href="{{ $prev.RelPermalink }}"> ← {{ $prev.Title }} </a>
    {{ end }}
    <span style="flex: 1"></span>
    {{ if lt $i (sub (len $pages) 1) }} {{ $next := index $pages (add $i 1) }}
    <a href="{{ $next.RelPermalink }}"> {{ $next.Title }} → </a>
    {{ end }} {{ end }} {{ end }}
  </div>
  {{ range .Params.Categories }}
  <div style="margin-top: 12px">
    <div style="font-size: 10px"><a href="/categories/{{ . | urlize }}">{{ . }}</a>의 글</div>
    <div style="display: flex; justify-content: flex-end">
      {{ $category := . }} {{ $categoryPages := where site.RegularPages.ByDate "Params.Categories"
      "intersect" (slice $category) }} {{ range $i, $page := $categoryPages }} {{ if eq $page $.Page
      }} {{ if gt $i 0 }} {{ $prev := index $categoryPages (sub $i 1) }}
      <a href="{{ $prev.RelPermalink }}"> ← {{ $prev.Title }} </a>
      {{ end }}
      <span style="flex: 1"></span>
      {{ if lt $i (sub (len $categoryPages) 1) }} {{ $next := index $categoryPages (add $i 1) }}
      <a href="{{ $next.RelPermalink }}"> {{ $next.Title }} → </a>
      {{ end }} {{ end }} {{ end }}
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
